# Google Cloud & API Clients
google-adk
google-api-python-client
google-auth
google-auth-oauthlib
google-genai
google-generativeai
google-cloud-aiplatform


# LLM / AI
litellm
openai

# Database / Backend
supabase

# Data & Time Handling
numexpr
python-dateutil
pytz

# Integrations
slack_sdk

# Testing
pytest

# Utilities
python-dotenv
tenacity
typing-extensions
